<div class="to-top"><img src="__IMG__/top.jpg"></div>
<div class="footer">
<div class="container">
	<div class="row">
		<div class="col-md-4">
				<h3><strong>程序统计</strong></h3>
				<p class="bg-default">
				  <a href="#"><span class="glyphicon glyphicon-comment text-left text-warning" style="font-size: 20px; color:black;">微说:10条&nbsp;&nbsp;</span></a>
				  <a href="#"><span class="glyphicon glyphicon-comment text-right text-warning" style="font-size: 20px; color:black;">微说:10条</span></a>
				</p>
				<br>
				<p class="bg-default">
				  <a href="#"><span class="glyphicon glyphicon-comment text-left text-warning" style="font-size: 20px; color:black;">微说:10条&nbsp;&nbsp;</span></a>
				  <a href="#"><span class="glyphicon glyphicon-comment text-right text-warning" style="font-size: 20px; color:black;">微说:10条</span></a>
				</p>
				<br>
				<p class="bg-default">
				  <a href="#"><span class="glyphicon glyphicon-comment text-left text-warning" style="font-size: 20px; color:black;">微说:10条&nbsp;&nbsp;</span></a>
				  <a href="#"><span class="glyphicon glyphicon-comment text-right text-warning" style="font-size: 20px; color:black;">微说:10条</span></a>
				</p>
				<br>
				<p class="bg-default">
				  <a href="#"><span class="glyphicon glyphicon-comment text-left text-warning" style="font-size: 20px; color:black;">微说:10条&nbsp;&nbsp;</span></a>
				  <a href="#"><span class="glyphicon glyphicon-comment text-right text-warning" style="font-size: 20px; color:black;">微说:10条</span></a>
				</p>
				<br>
				
		</div>
		<div class="col-md-4">
			<h3><strong>程序交流</strong></h3>
			<p class="bg-default">
				  <a href="#"><span class="glyphicon glyphicon-comment text-left text-warning" style="font-size: 20px; color:black;">微说:10条&nbsp;&nbsp;</span></a>
				  <a href="#"><span class="glyphicon glyphicon-comment text-right text-warning" style="font-size: 20px; color:black;">微说:10条</span></a>
				</p>
				<br>
				<p class="bg-default">
				  <a href="#"><span class="glyphicon glyphicon-comment text-left text-warning" style="font-size: 20px; color:black;">微说:10条&nbsp;&nbsp;</span></a>
				  <a href="#"><span class="glyphicon glyphicon-comment text-right text-warning" style="font-size: 20px; color:black;">微说:10条</span></a>
				</p>
				<br>
				<p class="bg-default">
				  <a href="#"><span class="glyphicon glyphicon-comment text-left text-warning" style="font-size: 20px; color:black;">微说:10条&nbsp;&nbsp;</span></a>
				  <a href="#"><span class="glyphicon glyphicon-comment text-right text-warning" style="font-size: 20px; color:black;">微说:10条</span></a>
				</p>
				<br>
				<p class="bg-default">
				  <a href="#"><span class="glyphicon glyphicon-comment text-left text-warning" style="font-size: 20px; color:black;">微说:10条&nbsp;&nbsp;</span></a>
				  <a href="#"><span class="glyphicon glyphicon-comment text-right text-warning" style="font-size: 20px; color:black;">微说:10条</span></a>
				</p>
				<br>
		</div>
		<div class="col-md-4">
			<h3><strong>推荐文章</strong></h3>
			<ul class="list-group">
				<li class="list-group-item" style="background:none; border:none;border-bottom: 1px dashed black"><a href="#"><span style="color:black;font-size: 20px;">广州两会</span></a></li>
				<li class="list-group-item" style="background:none; border:none;border-bottom: 1px dashed black"><a href="#"><span style="color:black;font-size: 20px;">广州两会</span></a></li>
				<li class="list-group-item" style="background:none; border:none;border-bottom: 1px dashed black"><a href="#"><span style="color:black;font-size: 20px;">广州两会</span></a></li>
				<li class="list-group-item" style="background:none; border:none;border-bottom: 1px dashed black"><a href="#"><span style="color:black;font-size: 20px;">广州两会</span></a></li>
			</ul>
		</div>
	</div>
</div>
</div>
<script src="__JS__/jquery-2.2.2.min.js" ></script>
<!-- 雪花效果JS -->
<!-- <script src='__JS__/snow.js'></script> -->
<script src="__JS__/bootstrap.min.js" ></script>
<script src="__JS__/common.js"></script>
<script src="__JS__/rl_exp.js"></script>   	
<script src="__JS__/jquery.fancybox.js"></script>	
<script src="__JS__/my-app.js"></script>	