<!-- 输入框组 -->
		         <div style="padding: 20px 0px 10px;">
		         <!-- 输入关键字进行搜索 -->
		         	<form class="bs-example" role="form">
		         		<div class="input-group">
		         			<input type="text" class="form-control" name="search" placeholder="输入关键字进行搜索">
		         			<span class="input-group-btn">
		         				<button type="button" class="btn btn-button">搜索</button>
		         			</span>
		         		</div>
		         	</form>
		         </div>
		         <!-- 我的标签 -->
		         <div class="panel panel-info">
		         	<div class="panel-heading">
		         		<div  class="panel-title">
		         			<span class="glyphicon glyphicon-user">My Label</span>
		         		</div>
		         	</div>
		         	<table class="table">
		         		<tr>
		         			<td><a href="#"><span class="label label-info">php</span></a></td>
		         			<td><a href="#"><span class="label label-danger">无兄弟</span></a></td>
		         			<td><a href="#"><span class="label label-primary">javascript</span></a></td>
		         			<td><a href="#"><span class="label label-warning">lol英雄</span></a></td>
		         			<td><a href="#"><span class="label label-success">不篮球</span></a></td>
		         		</tr>
		         		<tr>
		         			<td><a href="#"><span class="label label-info">php</span></a></td>
		         			<td><a href="#"><span class="label label-danger">无兄弟</span></a></td>
		         			<td><a href="#"><span class="label label-primary">javascript</span></a></td>
		         			<td><a href="#"><span class="label label-warning">lol英雄</span></a></td>
		         			<td><a href="#"><span class="label label-success">不篮球</span></a></td>
		         		</tr>
		         		<tr>
		         			<td><a href="#"><span class="label label-info">php</span></a></td>
		         			<td><a href="#"><span class="label label-danger">无兄弟</span></a></td>
		         			<td><a href="#"><span class="label label-primary">javascript</span></a></td>
		         			<td><a href="#"><span class="label label-warning">lol英雄</span></a></td>
		         			<td><a href="#"><span class="label label-success">不篮球</span></a></td>
		         		</tr>
		         	</table>
		         </div>
		         <!-- 随机文章 -->
		         <p><span class="glyphicon glyphicon-book">随机文章</span></p>
		         <div class="media">
		         	<span class="pull-left">
		         		<img src="__IMG__/cat.jpg">
		         	</span>
		         	<div class="media-body">
		         		<div class="panel-heading"><a href="#">那一夜</a></div>
		         		<div class="rand-artitle" >这不是偶然,也不是祝愿,这是上天对重逢的安排!不相信眼泪,不相信改变,可是坚信彼此的请柬!我应该如何?如何回到你的心田,我应该怎样?怎样才能走进你的梦.我想呀想!盼呀盼!盼望回到我们的初恋,我望呀望,看呀看,在此重逢你的笑颜——那一夜,你没有拒绝我!那一夜,我伤害了你,那一夜,你满脸泪水,那一夜,你为我喝醉,那一夜,我与你分手,那一夜,我伤害了你,那一夜,我举起酒杯,那一夜,我心儿哭醉.这不是偶然,也不是祝愿,这是上天对重逢的安排!不相信眼泪,不相信改变,可是坚信彼此的请柬!我想呀想!盼呀盼!盼望回到我们的初恋,我望呀望,看呀看,在此重逢你的笑颜--那一夜,你没有拒绝我!那一夜,我伤害了你,那一夜,你满脸泪水,那一夜,你为我喝醉,那一夜,我与你分手,那一夜,我伤害了你,那一夜,我举起酒杯,那一夜,我不堪回味——</div>
		         	</div>
		         </div>
		         <div class="media">
		         	<span class="pull-left">
		         		<img src="__IMG__/cat.jpg">
		         	</span>
		         	<div class="media-body">
		         		<div class="panel-heading"><a href="#">那一夜</a></div>
		         		<div class="rand-artitle" >这不是偶然,也不是祝愿,这是上天对重逢的安排!不相信眼泪,不相信改变,可是坚信彼此的请柬!我应该如何?如何回到你的心田,我应该怎样?怎样才能走进你的梦.我想呀想!盼呀盼!盼望回到我们的初恋,我望呀望,看呀看,在此重逢你的笑颜——那一夜,你没有拒绝我!那一夜,我伤害了你,那一夜,你满脸泪水,那一夜,你为我喝醉,那一夜,我与你分手,那一夜,我伤害了你,那一夜,我举起酒杯,那一夜,我心儿哭醉.这不是偶然,也不是祝愿,这是上天对重逢的安排!不相信眼泪,不相信改变,可是坚信彼此的请柬!我想呀想!盼呀盼!盼望回到我们的初恋,我望呀望,看呀看,在此重逢你的笑颜--那一夜,你没有拒绝我!那一夜,我伤害了你,那一夜,你满脸泪水,那一夜,你为我喝醉,那一夜,我与你分手,那一夜,我伤害了你,那一夜,我举起酒杯,那一夜,我不堪回味——</div>
		         	</div>
		         </div>
		         <div class="media">
		         	<span class="pull-left">
		         		<img src="__IMG__/cat.jpg">
		         	</span>
		         	<div class="media-body">
		         		<div class="panel-heading"><a href="#">那一夜</a></div>
		         		<div class="rand-artitle" >这不是偶然,也不是祝愿,这是上天对重逢的安排!不相信眼泪,不相信改变,可是坚信彼此的请柬!我应该如何?如何回到你的心田,我应该怎样?怎样才能走进你的梦.我想呀想!盼呀盼!盼望回到我们的初恋,我望呀望,看呀看,在此重逢你的笑颜——那一夜,你没有拒绝我!那一夜,我伤害了你,那一夜,你满脸泪水,那一夜,你为我喝醉,那一夜,我与你分手,那一夜,我伤害了你,那一夜,我举起酒杯,那一夜,我心儿哭醉.这不是偶然,也不是祝愿,这是上天对重逢的安排!不相信眼泪,不相信改变,可是坚信彼此的请柬!我想呀想!盼呀盼!盼望回到我们的初恋,我望呀望,看呀看,在此重逢你的笑颜--那一夜,你没有拒绝我!那一夜,我伤害了你,那一夜,你满脸泪水,那一夜,你为我喝醉,那一夜,我与你分手,那一夜,我伤害了你,那一夜,我举起酒杯,那一夜,我不堪回味——</div>
		         	</div>
		         </div>
		         <br/>
		       <p><span class="	glyphicon glyphicon-bell"></span>常用功能</p>  
		       <!-- 标签页插件 -->
		       <ul class="nav nav-tabs nav-justified bg-warning">
		       		<li class="active">
		       			<a href="#comment" data-toggle="tab" >最新评论</a>
		       		</li>
		       		<li>
		       			<a href="#click" data-toggle="tab">最多点击</a>
		       		</li>
		       		<li>
		       			<a href="#msg" data-toggle="tab">最新留言</a>
		       		</li>
		       </ul>
		       <div class="tab-content" id="commom-content">
		       		<div class="tab-pane fade in active" id="comment">
		       			<ul class="list-group">
		       				<li class="list-group-item">
		       					<a href="#">一起走过的日子</a><span class="badge pull-right">50</span>
		       				</li>
		       				<li class="list-group-item">
		       					<a href="#">一起走过的日子</a><span class="badge pull-right">50</span>
		       				</li>
		       				<li class="list-group-item">
		       					<a href="#">一起走过的日子</a><span class="badge pull-right">50</span>
		       				</li>
		       			</ul>
		       		</div>
		       		<div class="tab-pane fade " id="click">
		       			<ul class="list-group">
		       				<li class="list-group-item"><a href="#">谢谢你的爱</a> <span class="badge pull-right">100</span></li>
		       				<li class="list-group-item"><a href="#">谢谢你的爱</a> <span class="badge pull-right">80</span></li>
		       				<li class="list-group-item"><a href="#">谢谢你的爱</a> <span class="badge pull-right">50</span></li>
		       			</ul>
		       		</div>
		       		<div class="tab-pane fade " id="msg">
		       			<ul class="list-group">
		       				<li class="list-group-item"><a href="#">相思风雨中 </a><span class="badge pull-right">100</span></li>
		       				<li class="list-group-item"><a href="#">相思风雨中 </a><span class="badge pull-right">80</span></li>
		       				<li class="list-group-item"><a href="#">相思风雨中 </a><span class="badge pull-right">50</span></li>
		       			</ul>
		       		</div>
		       </div>
		       <br>
		       <p><span class="glyphicon glyphicon-tree-conifer">友情链接</span></p>
		       <table class="table ">
		       		<tr>
		       			<td><a href="www.baidu.com" class="label label-warning">百度</a></td>
		       			<td><a href="wwww.muke.com" class="label label-info">慕课网</a></td>
		       			<td><a href="www.runoob.com" class="label label-success">菜鸟自学网</a></td>
		       		</tr>
		       		<tr>
		       			<td><a href="www.baidu.com" class="label label-success">百度</a></td>
		       			<td><a href="wwww.muke.com" class="label label-warning">慕课网</a></td>
		       			<td><a href="www.runoob.com" class="label label-info">菜鸟自学网</a></td>
		       		</tr>
		       		<tr>
		       			<td><a href="www.baidu.com" class="label label-info">百度</a></td>
		       			<td><a href="wwww.muke.com" class="label label-success">慕课网</a></td>
		       			<td><a href="www.runoob.com" class="label label-warning">菜鸟自学网</a></td>
		       		</tr>
   		       </table>